*{
    box-sizing: border-box;
    background-color: rgb(232, 243, 247);  
    font-family: Arial, Helvetica, sans-serif;
}

#formulario{
    border-radius: 5px;
    border: dotted 2px green;
    height: 80%;
}

h4{
    float: left;
}

h6{
    float: right;
}

hr{
    color: green;
    clear:both;
    border: 2px solid green;

}


table{
    margin-left: 40px ;
    margin-top: 40px ;
}

.boton{
    transition: all 0.4s ease;
    background-color: rgb(34, 201, 34);
    color: white;
    box-shadow: 4px 4px 10px black;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 15px;
}



#xd{
    margin-left: 26em;
}


.boton:hover{
    box-shadow: 5px 5px 5px rgba(2, 3, 2, 0.5);

}